.startButton {
  min-width: 100px;
  margin: 10px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #c6ac8f;
  overflow: hidden;
  border: 2px solid #5e503f;
  color: #5e503f;
}

.startButton:hover {
  color: #eae0d5;
}

.startButton:hover:after {
  height: 100%;
}

.startButton:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border: 2px solid #5e503f;
  background: #5e503f;
}

.question {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

.radio {
  padding-right: 3px;
  margin: 3px;
  font-size: 1.3rem;
}

.label {
  font-weight: 600;
  font-size: 1.3rem;
}
