.h1 {
  font-family: 'Zen Dots', cursive;
  font-size: 4.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #463f3a;
}

header div {
  padding: 5px;
}

.auth-buttons {
  text-align: center;
}

.user-info img {
  width: 50px;
}
.userImg {
  width: 100px;
  height: 100px;
}
