header {
  border-bottom: solid black 1px;
}

.login {
  text-align: center;
}

.profilePic {
  width: 50px;
}

.upperRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}

.activeLink {
  display: none;
}

.link {
  padding: 2px;
}