header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
}

header div {
  padding: 5px;
}

.auth-buttons {
  text-align: center;
}

.user-info img {
  width: 50px;
}