.container {
  padding-top: 25px;
  padding-bottom: 55px;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  background-color: #eae0d5;
  height: 90vw;
}

.userDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 20px;
  border: solid #c6ac8f 1px;
  font-weight: bold;
}

.userPic {
  height: 75px;
}
